@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=Pacifico&display=swap');
*{
    font-family: 'Inter', sans-serif;
    
}
.Navbar{
    background: transparent;
    display: flex;
    justify-content:center;
    height: 15vh;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
    
}
.Logo{
    font-size:40px;
    text-shadow: 3px 3px 20px black;
    font-weight: 900;
    letter-spacing: 1rem;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 20px;
}
.Wrapper{
    background-image:url('../../Assets/back.jpg');
    object-fit: contain;
    background-position:center top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100vh;
   
    color: white;
}
.Hero_container {
    margin-left: 40px;
}
.Hero_container h1{
    font-size: 3.5rem;
    font-weight: 800;
}
.Hero_container h3{
    font-size: 35px;
    font-weight: 700;
}
.Hero_button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    background-color: rgba(51, 51, 51, 0);
    border: 1px solid white;
    translate: transform 950ms;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 6px;
    transition: 0.5s;
    letter-spacing: 0.1rem;
    text-decoration: none;
}
.Hero_button:hover{
    color: black;
    background-color: white;
    transform: scale(1.08);
    text-decoration: none;

}
.Hero-content{
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: white;
    color: black;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bold;
}
.Hero_flexs{
    display: flex;
    height: 60vh;
    align-items: center;
    text-shadow: 3px 3px 60px black;
}
.Hero_container p{
    max-width: 50%;
    line-height: 1.4rem;
}

.online{
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    color:rgb(142, 245, 142);
    background-color:rgb(142, 245, 142);
    border-radius: 50%;
    margin: 10px;
    padding: 7px 11px;
    box-shadow: 1px 1px 40px rgb(142, 245, 142);
}

@media only screen and (max-width: 1245px) {

    .Hero_container p{
        max-width: 70%;
    }
    .Hero_flexs{
        height: 70vh;
    }

  }
  @media only screen and (max-width: 856px) {

    .Hero_container p{
        font-size: 13px;
       
    }
    .Hero_container h1{
        font-size: 2.5rem;
    }
    .Hero_container p{
        max-width: 90%;
    }
}
@media only screen and (max-width: 576px) {

    .Hero_flexs{
        text-align: center;
        height: 80vh;
    }
}
    