.Navbar-wrapper{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width:90% ;
    background-color: transparent;
}
.logo{
    color: white;
    letter-spacing: 0.6rem;
    font-size: 40px;
}
.Navbar-signout{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}